#eroare404 h1 {
	color: #3BD8EC;
	font-family: Sans-serif;
    font-size: 10em;
    text-align: center;
}

#eroare404 h2 {
	color: #525252;
	font-family: Sans-serif;
    font-size: 3em;
    text-align: center;
}

#eroare404 h3 {
	color: #525252;
	font-family: Sans-serif;
    font-size: 1.5em;
    text-align: center;
}
#eroare404 a {
	color: #3BD8EC;
}