<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Travel blog  </title>

        <link rel = "stylesheet" href = "style.css"/>
        <meta name = "viewpoint" content = "width = device-width">
        <script type = "text/javascript" src = "script.js"> </script>
    </head>

    <body>
        <div id = "maincontainer">
            <%- include("../views/header") %>
            <%- include("../views/navbar") %>
            <%- include("../views/navleft") %>
    
            <div id = "continut">
                <h2> Multumim pentru comentariu! </h2>
            </div>

            <%- include("../views/footer") %>
        </div>
    </body>
</html>