<!DOCTYPE html>
<html lang = "en">
<head>
  <title> 
    Travel blog
  </title>

  <link rel = "stylesheet" href = "style.css"/>
  <meta name = "viewpoint" content = "width = device-width">
  <script type = "text/javascript" src = "script.js"> </script>
</head>

<body>
  <div id = "maincontainer">
    <%- include("../views/header") %>
    <%- include("../views/navbar") %>
    <%- include("../views/navleft") %>

    <div id = "continut">
      <h1> 2 Days in Amsterdam itinerary: fall in love with amsterdam in 2 Days </h1>
    
      <img src="images/amsterdam.jpg" alt = "Amsterdam" class = "poze">
      <p> Often called the City of Sins, Amsterdam is one of the loveliest cities of Europe. It is the place where many Euro trips begin and end. After all, the city’s unique narrow buildings, intricate canal systems and pretty bridges that are often adorned with colorful flowers leave a lasting impression. </p>
      <p> Amsterdam is one of the top places to visit in the Netherlands and many people don’t end up going anywhere else in the country (but they should). Amsterdam is expensive, so prepare to shell out a lot of money if you’re not visiting any other place in the Netherlands. </p>
      <p> If you’re wondering how many days to spend in Amsterdam to take in all of its gorgeous features, then keep in mind that it is not about how long you stay, but how you spend your time there. </p>
      <p> Of course, it is better if you spend more time here, but this itinerary has been written keeping in mind how some of us can’t spend longer but still wouldn’t like to compromise on our experience. This Amsterdam itinerary is 2 days long and will uncover every must-see thing to see and do during your visit. </p>

      <h2> Walk from Dam Square to De Negen Straatjes </h2>
      <p> What’s the most touristy spot in Amsterdam? It is Dam Square! C’mon – you have to see it at least once. You won’t be staying here for long so don’t worry. </p>
      <p> Start at Amsterdam Centraal station and from there walk to Dam Square. When you reach the Dam Square, you will see the Royal Palace of Amsterdam on one side and the National Monument on the other.</p>
      <img src = "images/royalPalace.jpg" alt = "Royal Palace" class = "poze">
      <p> Take a around the Dam Square with your bicycle or walk to see the madness. You will see people busking and everyday is a new show. I have seen fire shows, comedy shows, an angry Darth Vader, an even angrier Catholic group shouting slogans and a laughing atheist group shouting even more slogans. It was like a match. To make things funnier, there was also a Hare Rama Hare Krishna group that joined the party.</p> 
      
      <h2> Start with a Canal Cruise </h2>
      <p> A bicycle tour or a walking tour in Amsterdam is not for something that everyone can do or enjoy. There is another really cool way of exploring Amsterdam – a boat ride on the canals. You will anyway be spending most of your time on the streets on Amsterdam as you move from one sight to another, why not explore it from a different perspective? </p>
      <p> Starting your Amsterdam trip with a boat ride will give you a quick view of the city, along with some interesting sights. It will give you an overall perspective of where everything is. You will surely end up seeing more landmarks during the boat ride than you will in the entire day. It is a good way of checking some famous buildings off your list if you’re short of time. </p>
    
      <h2> Walk to the Floating Flower Market – Bloemenmarkt </h2>
      <p> Otherwise known as the Bloemenmarkt in Dutch, the Flower Market in Amsterdam is as pretty as it sounds. Picture the canals lit up with an array of bright colored flowers like tulips, daffodils, and hyacinths. </p>
      <p> The flower market is the only floating flower market in the world, and as such – it deserves a visit during your 48 hours in Amsterdam. Walking to this famous attraction is of the best ways to enjoy the sensations of the city. Sit on a canal side bench and simply enjoy the beauty. </p>

      <h2> Eat Dutch Herring at Frens Haringhandel for Lunch in Amsterdam </h2>
      <img src = "images/dutchHerring.jpg" alt = "Dutch Herring" class = "poze">
      <p> Want to have a typical road side Dutch meal? Walk to Frens Haringhandel in the vicinity and eat Herring exactly the way Dutch do – raw. It is delicious. </p>
      <p> Don’t be afraid to try the Dutch Herring because I mentioned it is raw. In fact, it is “soused herring”. It doesn’t taste raw because it is soaked in vinegar and eaten with pickles and onions on top. For €3.5, it for the most affordable and delicious meal that I have ever had in Amsterdam. </p>

      <h2> Visit the A’Dam Tower </h2>
      <p> Where to get the best view of Amsterdam City? Get on top of the A’Dam Lookout Tower. A’dam Tower is barely a minute away from where you get off the ferry. Ride on the tower’s gorgeous glass elevator and take your sightseeing 20-stories up. </p>
      <p> At the top of the tower, you will find Moon Bay and Madam restaurant with amazing views over the city. You will also be amazed when you see Noord’s nearby alternate buildings from this tower. </p>
      <p> If you’re feeling brave and want to try something completely out-of-the-box, you can enjoy a few swings in a spellbinding over-the-edge swing. This is not for the faint-hearted, but it is well worth overcoming any fear you have of height to enjoy a one-of-a-kind view of Amsterdam. </p>
      <div class = "video-container"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P-jYfzxoGDY" allowfullscreen> </iframe> 
     </div>

     <h2> Explore and Eat Lunch in De Ceuvel </h2>
     <p> De Ceuvel is a must-see sustainable cafe in Amsterdam. It has been transformed from a site where old houseboats once stood, and now serve as a sustainable workspace. The result is absolutely stunning.</p>
     <p> This eco-friendly cafe is not only a great place to get a bite to eat, but it is an awesome place to simply hang out. There are so many amazing places to sit and get stuck for hours. You can sit next to the water or inside if the weather doesn’t suit you. </p>
    </div>
  </div>
  
  <%- include("../views/footer") %>
</body>
</html>