<!DOCTYPE html>
<html lang = "en">
<head>
  <title> 
    Travel blog
  </title>

  <link rel = "stylesheet" href = "style.css"/>
  <meta name = "viewpoint" content = "width = device-width">
  <script type = "text/javascript" src = "script.js"> </script>
</head>

<body>
  <div id = "maincontainer">
    <%- include("../views/header") %>
    <%- include("../views/navbar") %>
    <%- include("../views/navleft") %>
    
    <div id = "continut">
      <h1> How to find chep accommodation in 2020 </h1>
    
      <img src="images/accommodation.jpg" alt = "accommodation" class = "poze">
      <p> Accommodation is one of the biggest fixed costs travelers have and reducing that cost can lead to big savings on the road! I’m sure many backpackers would sleep in a barn if it was the cheapest accommodation they could find! Heck, I’ve slept in hammocks in national parks to save a buck! </p>
      <p> Luckily, there are many ways to find cheap accommodation when you travel. Here are the best ways to do so: </p>

      <h2> Stay in Hospitality Exchanges </h2>
      <p> One of the best ways to get free accommodation is by staying with someone who lives where you’re going. Stay with a local who will give you a free place to rest your head, local information, and someone to hang out with! This is one of my favorite ways to save money and one that nets a really awesome cultural experience too! There are a few websites that make this happen:</p>
      <ul> 
        <li> <a href = "https://www.couchsurfing.com/"> Couchsurfing </a> </li>
        <li> <a href = "http://globalfreeloaders.com/"> Global Freeloaders </a> </li>
        <li> <a href = "http://www.hospitalityclub.org/"> Hospitality Club </a> </li>
      </ul>

      <h2>  Stay in Hostels </h2>
      <p> Hostels are another option for budget travelers. In hostels, rooms are dormitory-style with all the facilities shared. Many people think of hostels as a “young thing” and are not interested in sleeping in a dormitory. Yet people do not often realize that many hostels offer small rooms, singles, and doubles designed for solo travelers or couples. I have met people in hostels in their 50s and 60s. The myth they are dirty, gross places to stay designed for young people is wrong. Many hostels offer more amenities than hotels and are really clean as young people expect more comfort. These aren’t the hostels you see in movies or have the horror stories your parents talk about. They come with wifi, tour desks, bars, curtains, lockers for your stuff, big bathrooms, and lots more! </p>
      <p> My favorite hostel booking website is <a href = "https://www.hostelworld.com/pwa/?source=affiliate-PHG-1101lHtj&affiliate=PHG&ref_id=1011l7SqUSg4"> Hostelworld </a>. They have the best inventory, deals, and interface. Most hostels cost $5-30 USD per night for a dorm bed. They come with private rooms too but those are really a bad value option. Airbnb or a cheap guesthouse is much better bang for your buck. Unless you really want the hostel experience and a place to meet other travelers, I wouldn’t get a private room in a hoste</p>

      <h2> Stay in a Home Exchange </h2>
      <p> This probably works best for older travelers who already own a home. These programs have been around for a long time but are growing in popularity due to good marketing and word-of-mouth on the Internet. Home exchanges are just like they sound — for a set amount of time, you swap homes with a family from another country. It’s a great way to live cheaply abroad. </p>
      <p> Most people don’t do this because they worry about security — but remember that the other family is trusting you with their home, too. Sites that facilitate home exchanges usually have various levels of verification and security similar to Couchsurfing. Families talk to each other over phone and e-mail, and there’s no commitment if you find that it’s not right for you. Most people who do this are like-minded, so the chances of something going wrong are slim. Moreover, the family sends a few people to check up on you when you arrive. You can get all the comforts of home (hot water, laundry, etc.) while in another city, without paying for it. </p>
      <p> If swapping homes isn’t your thing, then consider house-sitting as an alternative. In exchange for watching and cleaning someone’s home while they are away, you’ll get a place to stay in the area you are visiting. Good house-sitting sites include: </p>
      <ul> 
        <li> <a href = "https://www.mindmyhouse.com/"> Mind My House </a> </li>
        <li> <a href = "http://www.housecarers.com/"> House Carers </a> </li>
        <li> <a href = "http://www.luxuryhousesitting.com/"> Luxury House Sitting </a> </li>
      </ul>

      <h2> Stay in Airbnb </h2>
      <p> Similar to home exchanges, rentals allow people to stay in furnished apartments while traveling. These apartments are cheaper than hotels and provide many more amenities. They are great if you plan to spend a week or more in one place. You’ll get all the comforts of home without spending a fortune. </p>
      <p> These apartments are a nice bridge between a hostel and hotel, though they can get a bit expensive if you are a solo traveler. They are roughly double the cost (if not more) than a hostel dorm room. However, if you are part of a group or a couple and are looking for a respite from the dorms and hordes of travelers but don’t want a hotel room, this is your ideal accommodation option. Another reason to use this method? You get a kitchen, allowing you to cook and reduce your food costs. </p>
      <p> My favorite rental websites are: </p>
      <ul> 
        <li> <a href = "https://www.wimdu.com/"> Wimdu </a> </li>
        <li> <a href = "https://www.airbnb.com/?irgwc=1&irclid=0nIV8X3N2xyOU-6wUx0Mo3EWUknSKR2%3AeUMpyY0&ircid=4273&sharedid=&af=81115044&iratid=9627&c=.pi73.pk4273_214481&irparam1="> Airbnb </a> </li>
      </ul>

      <h2> My Favorite Accommodation Resources </h2>
      <p> Here are some of my favorite websites for finding the best accommodation deals. If I’m looking for a cheap place to stay, these are the sites I always check first: </p>
      <ul>
        <li> <a href = "https://www.hostelworld.com/pwa/?source=affiliate-PHG-1101lHtj&affiliate=PHG&ref_id=1101l7SnFNy5"> Hostelworld.com </a> </li>
        <li> <a href = "https://www.booking.com/index.html?aid=362916"> Booking.com </a> </li>
        <li> <a href = "https://www.agoda.com/?cid=1841944&tag=13971216__3032045__"> Agoda.com </a> </li>
        <li> <a href = "https://www.priceline.com/?refid=CO3032045&refclickid=10370045SID&utm_medium=Affiliate&utm_source=CO3032045&utm_campaign=CJ&utm_content=hp&utm_term=10370045SID&slingshot=1211"> Priceline.com </a> </li>
        <li> <a href = "https://www.airbnb.com/?irgwc=1&irclid=0nIV8X3N2xyOU-6wUx0Mo3EWUknSKR2%3AeUMpyY0&ircid=4273&sharedid=&af=81115044&iratid=9627&c=.pi73.pk4273_214481&irparam1="> Airbnb.com </a> </li>
      </ul>
    </div>
  </div>
  
  <%- include("../views/footer") %>
</body>
</html>