<!DOCTYPE html>
<html lang = "en">
<head>
  <title> 
    Travel blog 
  </title>

  <link rel = "stylesheet" href = "style.css"/>
  <meta name = "viewpoint" content = "width = device-width">
  <script type = "text/javascript" src = "script.js"> </script>
</head>

<body>
  <div id = "maincontainer">
    <%- include("../views/header") %>
    <%- include("../views/navbar") %>
    <%- include("../views/navleft") %>

    <div id = "continut">
      <h1> The 11 best things to see and do in Israel </h1>
    
        <img src="images/israel_home.jpg" alt = "Israel" class = "poze">
        <p> Home to incredible historical and religious sites, the mineral-rich Dead Sea (which is also the lowest point on Earth), a lively nightlife, and a world-class food scene, Israel has a lot to offer visiting travelers. </p>
        <p> Though a small country that doesn’t take too long to drive around, there’s just SO much on offer that you could still easily spend weeks here and not run out of amazing sights to see, activities to do, and delicious food to eat. </p>
        <p> To help you get started planning your trip, here’s a list of what I consider to be some of the best things to see and do in Israel: </p>

        <h2> Tel Aviv </h2>
        <img src = "images/TelAviv.jpg" alt = "Tel Aviv" class = "poze"> 
        <p> With almost four million people in the greater Tel Aviv area, this beach city on the Mediterranean has a lively, cosmopolitan vibe. It’s the country’s most modern city and where the majority of international flights arrive (there are also international airports in Haifa and Eilat, but Tel Aviv is the main point of arrival). </p>
        <p> While the city has a lot to offer (including 13 beaches), one of the major draws is the food. The culinary scene is full of inventive eateries using fresh, organic ingredients and mixing traditional Israeli cuisine with tastes from around the world, reflecting the many ethnicities that make up the country’s population. There’s even a huge number of vegan options too (Israel is an incredible destination for vegetarian and vegan travelers). You can also stroll the stalls at the Carmel Market and the Levinsky Market for tasty local street food. </p>
        <p> Tel Aviv also has a nightlife that would rival New York or London. For a night out, you can find rooftop bars, wine bars, and craft beer breweries all over town. In particular, check out venues lining Rothschild Boulevard. Also, there’s a strong music scene with tons of live concerts happening around town (in all genres) as well as a world-class philharmonic orchestra. There’s lots of great theatre here too! </p>

        <h2> The Dead Sea </h2>
        <img src = "images/deadSea.jpg" alt = "Dead Sea" class = "poze">
        <p> Israel and Jordan share the Dead Sea. Covering over 600 square kilometers, its shores are the lowest point on earth and its water is so salty — over eight times more than the ocean — that virtually no sea life can survive in it (hence its name). That saltiness also means you float on the water (salt increases buoyancy), which is why you’ll see lots of people here snapping pictures as they float the day away. </p>
        <p> Unfortunately, it also means that if you have any cuts on your body, you will feel them keenly! Additionally, industrial exploitation has shrunk the shoreline and caused sinkholes in some areas, so beware of that and pay attention to any signage. </p>
        <p> The salt and other minerals (like magnesium and bromide) have historically been thought of as healing, which is why there are tons of health retreats lining the shore. While many beaches are only accessible through a resort, there are also several public ones along the coast, including Neve Midbar in the north and Ein Bokek in the south. </p>

        <h2> Jerusalem </h2>
        <img src = "images/Jerusalem.jpg" alt = "Jerusalem" class = "poze">
        <p> Jerusalem is one of the oldest cities in the world, with its history stretching back about 5,000 years. Referred to as “the Holy City” (in Arabic, al-Quds), Jerusalem holds an important place in three of the world’s major religions: Christianity, Judaism, and Islam. Home to over a million people, it’s a destination for pilgrims and tourists alike, brimming with an incredible (and often controversial) history. </p>
        <p> The walled Old City, not to mention nearby Mount Zion and the City of David (the original site of Jerusalem), include so many famous and significant sites that you could easily spend several days touring them. </p>
        <p> For Jews, the Western Wall (formerly called the Wailing Wall) is considered the holiest place for prayer. It is divided into men’s and women’s sections, and there are tunnels on one side that can be explored. </p>
        <p> The Dome of the Rock and the Al-Aqsa Mosque on the Temple Mount (just above the Western Wall) are among the holiest sites for Muslims, behind only Mecca and Medina. </p>
        <p> For Christians, the Via Dolorosa and the Church of the Holy Sepulchre in the Old City mark the path of Jesus’s final walk to his execution and the site of his crucifixion. </p>
    
        <h2> Biblical Sites </h2>
        <img src = "images/biblicalSites.jpg" alt = "Biblical Sites" class = "poze">
        <p> As an epicenter for three major religions, Israel has a lot of important shrines and pilgrimage destinations. A large number of travelers join biblical tours (either guided tours or self-guided ones) to visit places like the Galilee, Bethlehem, and Jericho (the latter two in Palestine). </p>
        <p> Galilee is home to a number of Christian sites, including Nazareth, where you’ll find the largest church in the Middle East; and the Jesus Trail or the Gospel Trail, hikes from Nazareth to the Sea of Galilee — which is also home to numerous sites of Christian interest, such as Capernaum, Tabgha (where Jesus fed people loaves and fishes), Cana, and the Mount of Beatitudes (the supposed location of the Sermon on the Mount). </p>
        <p> Known as the birthplace of Jesus, Bethlehem is a must-visit destination. Be sure to visit the Church of the Nativity, one of the most important Christian sites (ostensibly where Jesus was born) and also one of the world’s oldest operating churches (it opened in 333 CE). </p>
        <p> Near Jericho, you’ll find Qasr el Yahud on the Jordan River, said to be the place where Jesus was baptized by John the Baptist, and the Monastery of St George, a cliff-hanging complex carved into a sheer rock wall in the Judean Desert. </p>

        <h2> The Negev Desert </h2>
        <img src = "images/negevDesert.jpg" alt = "The Negev Desert" class = "poze">
        <p> The Negev Desert covers the southern half of Israel and spans over 13,000 square kilometers, taking up 55% of the entire country. It’s a starkly beautiful place. For the best views, visit the Florence and George Wise Observatory near Mitzpe Ramon. Also, don’t miss Timna Park in the far south (near Eilat), which has incredible geological formations: huge sandstone pillars and sand of many colors. There’s also an annual hot air balloon festival held there each autumn. </p>
        <p> The Negev is full of all kinds of adventure activities, too, from sandboarding in the dunes in the north to rappelling off the cliffs of the Ramon Crater. If you don’t have a car, you’ll find no shortage of tour companies to take you around. </p>

        <h2> Masada National Park and Fortress </h2>
        <img src = "images/Masada.jpg" alt = "Masada National Park and Fortress" class = "poze"> 
        <p> One of the most-visited parts of the Negev Desert is Masada National Park. Located just 100km (62 miles) south of Jerusalem on the edge of the Dead Sea, this was the ancient fortress built by King Herod the Great on a plateau. It’s famed for being a refuge for Jewish rebels against the Roman Empire, who lived up there for seven years before committing mass suicide after a siege by the Romans back in 73 CE. Today, it’s a symbol of Israeli determination and one of the country’s most popular attractions. </p>
        <p> There’s a cable car up to the fortress, but an alternative is to hike up the Snake Path, a 60-90-minute hike offering views of the arid landscape, the Dead Sea, and Jordan. Just be aware that it can be really hot in summer (it’s a desert after all), and sometimes authorities close the path if the weather is too hot. (Bring lots of water.) It’s better (and cooler) to ascend before dawn and see the sunrise over Jordan from the trail or the summit. </p>
        <p> Open daily from 8am until 3pm-5pm. Admission to the park is $9 USD. You can reach the park in about 90 minutes from Jerusalem by car. </p>

        <h2> Dive Israel’s Reefs and Wrecks </h2>
        <img src = "images/reefs.jpg" alt = "Reefs and Wrecks" class = "poze">
        <p> Israel borders the Mediterranean Sea and has a short coastline on the Red Sea — both of which offer world-class snorkeling and scuba diving. Some of the best spots on the Red Sea, where you can see incredible coral and sea life, include Coral Reef Beach, Migdalor Beach, and Princess Beach. </p>
        <p> For scuba divers, the water deepens very quickly off Eilat, so you can do deep-water diving without needing to use a boat to get further from the shore. (Those who don’t wish to go in the water can visit the Underwater Observatory Marine Park.) </p>
        <p> On the Mediterranean coast, divers can explore shipwrecks and ancient Roman ruins at the Underwater Archaeological Park at Caesarea. </p>
    </div>
  </div>
  
  <%- include("../views/footer") %>
</body>
</html>