<div class="navbar">
  <a href = "/"> Home </a>
  <div class="dropdown">
    <button class="dropbtn"> Travel Tips </button>
    <div class="dropdown-content">
      <a href = "/saveMoney"> How to save for a trip </a>
      <a href = "/chepAirfare"> Find cheap airfare </a>
      <a href = "/chepAccommdation"> Get accommodation</a>
    </div>
  </div>
  <div class= "dropdown">
    <button class = "dropbtn"> Blog </button>
    <div class="dropdown-content">
      <a href = "/AmsterdamBlog"> 2 Days in Amsterdam Itinerary: Fall in love With Amsterdam in 2 Days </a>
      <a href = "/IsraelBlog"> The 11 best things to see and do in Israel </a>
    </div>
  </div>
  <a href = "/destination"> Destinations </a>
  <div class="dropdown">
    <button class="dropbtn"> Resources </button>
    <div class="dropdown-content">
      <a href = "/travelInsurance"> Travel Insurance </a>
      <a href = "/travelBooks"> Travel Books</a>
    </div>
  </div>
  <a href= "/contact"> Contact </a>
</div>