<div id = "navleft"> 
    <div id = "meniu">
      <h1> Mesajul zilei:</h1>
      <p id = "p_citat"> </p>
    </div>
    <div id = "meniu"> 
      <button id = "comm" onclick = "paginaQuiz()"> Take a quiz </button>
    </div>
    <div id = "meniu">
      <button id = "comm" onclick = "paginaLogIn()"> Log-in page </button>
    </div>

    <div id = "meniu">
      <button id = "comm" onclick = "paginaProfil()"> Profile page </button>
    </div>
    
    <div id = "meniu">
      <button id = "comm" onclick = "afisComm()"> Afiseaza comentariile </button>
    </div>

    <div id = "meniu">
      <h1> Change style </h1>
      <p class = "p_meniu"> Text font:</p>
      <select id = "font" name = "font"> 
        <option value = "Cursive"> Cursive </option>
        <option value = "Fantasy"> Fantasy </option>
        <option value = "Helvetica"> Helvetica </option>
        <option value = "Verdana"> Verdana </option>
      </select>
      <p class = "p_meniu"> Text color: </p>
      <select id = "color" name = "color">
        <option value = "red"> Red </option>
        <option value = "yellow"> Yellow </option>
        <option value = "green"> Green </option>
        <option value = "blue"> Blue </option>
        <option value = "pink"> Pink </option>
        <option value = "white"> White </option>
        <option value = "black"> Black </option>
      </select>
      <p class = "p_meniu"> Text size: </p>
      <select id = "size" name = "size">
        <option value = "10px"> Small(10 px) </option>
        <option value = "14px"> Medium(14 px) </option>
        <option value = "18px"> Large(18 px) </option>
      </select>
      <button id = "schimba" onclick = "retineStil()"> Schimba! </button>
      <button id = "reset" onclick = "uitaStil()"> Reset! </button>
    </div>
</div>