<!DOCTYPE html>
<html lang = "en">
<head>
  <title> 
    Travel blog 
  </title>

  <link rel = "stylesheet" href = "style.css"/>
  <meta name = "viewpoint" content= "width = device-width">
  <script type = "text/javascript" src = "script.js"> </script>
</head>

<body>
  <div id = "maincontainer">
    <%- include("../views/header") %>
    <%- include("../views/navbar") %>
    <%- include("../views/navleft") %>

    <div id = "continut">
      <h1> 20 tips on how to save money to travel </h1>
    
      <p> It's a huge mountain to climb, but it’s not impossible. The following are 20 tips on how to save money for your upcoming around the world trip. </p>
      <div class = "video-container"> 
          <iframe width="560" height="349" src="https://www.youtube.com/embed/a1l3xsBB1lw" allowfullscreen> </iframe> 
     </div>

      <h2> Create a savings plan. A good savings plan will have 5 steps: </h2>
      <ul>
        <li> <strong> Assessment </strong> – Compare your trip plan to the reality of your financial situation. Is it feasible, or are you dreaming too big? Make hard decisions. Be honest. Once you’ve got a general idea of your trip’s overall cost, compile a spreadsheet that lists your income vs. your expenses to see how everything stacks up.</li>
        <li> <strong> Setting goals </strong> – Your savings plan should comprise several goals, some short-term and some long-term. List your goals in specific numbers and don’t be shy to shoot high. But, not so high it kills your enthusiasm for your big trip (people have traveled around the world on nothing!).</li>
        <li> <strong> Creating a plan </strong> – This savings plan details how you’ll accomplish your goals. This could done by removing unnecessary expenses (see below!), setting a strict spending budget, or adding additional income to meet your goals. </li>
        <li> <strong> Implementation </strong> – Put your plan in motion and maintain it.</li>
        <li> <strong> Monitoring and reassessment </strong> – As time passes, your plan will evolve as your spending habits change. Take a look at your progress every month and scrutinize the budget for possible adjustments.</li>
      </ul>

      <h2> Commit to your dream </h2>
      <p> The first of our tips for saving money (for travel) is to remember why you’re doing this and to remind yourself every day. Put a picture on your wall, or a map with pins and strings to mark your dream around the world trip route, for constant revalidation. Saving money is a slog, but anyone can do it if they set their mind to it.</p>
      <ul>
        <li> Reduce your expenditures. </li>
        <li> Simplify your life. </li>
        <li> Sell some stuff. </li>
        <li> Earn some extra income. </li>
      </ul>

      <h2> Assess your expenditures </h2>
      <p> Make a spreadsheet and list out every one of your daily/monthly expenditures. Organize them into two columns: “<strong>Needs</strong>” and “<strong>Wants</strong>“. Slowly eliminate all the “wants” from the things you regularly purchase.</p>

      <h2> Start a dedicated travel fund </h2>
      <p> Create a new account with your bank called “I’m Outta Here” and feed it monthly, weekly, or daily. Make it easy to transfer money over from another account and every time you go online to check your balance, transfer some money, even if it’s just $5. Make it fun. Make it a habit. Make it natural. Make it painless. Revel in its growth!</p>

      <h2> Eat out less often </h2>
      <p> Restaurants put more holes in a saving plan than a woodpecker on amphetamines. Plus, learning how to cook for yourself is ridiculously gratifying. The Food Network and Recipes.com have a near limitless repository of delicious recipes to start you off. Even in the United States, you can comfortably eat on $40 to 50 a week cooking for yourself. Simple unprocessed foods like rice, beans, chicken, pasta, potatoes, and vegetables are healthy and cheap.</p>

      <h2> Reduce your utility bills </h2>
      <p> Put a sweatshirt on and keep the heat on low. Open the windows to catch a breeze instead of using the air conditioner. Turn off the lights when you leave a room. Shorten your showers. Some areas of the country have more moderate temperatures than others, but even a few bucks a month pile up in your travel savings account. The average utility bill in the US ranges from $90 to $140 a month. If you can trim 15% off by being more efficient, doing fewer loads of laundry, and conserving energy, you could add around $225 to your savings, annually.</p>

      <h2> Bonus tip for saving money: keep your distance from financially irresponsible people! </h2>
      <p> Watching your friends go out every night to buy expensive electronics, pricey cocktails, and new boots will destroy all your hard-won motivation. So just don’t. But don’t let your dogged determination to save for vacation make you into your friend group’s party pooper: you can save for travel, and still let loose every once in a while.</p>
      <p> But don’t let your dogged determination to save for vacation make you into a party pooper, either: you can save for travel, and still let loose  every once in a while.</p>
    </div>
  </div>
  
  <%- include("../views/footer") %>
</body>
</html>